<h1 class="title-center">Mapa da Dengue</h1>
<div id="map-container">
  <div id="mapa"></div>
</div>
 <!--<div id="geocoding_fields">
   <%= text_field_tag :search, params[:search], placeholder: "Enter a place", :id => 'search_box_geocoding', class: 'search_box' %>
   <%= button_tag "Search", id: "submit_button_geocoding", data: { disable_with: "Please wait..." }, class: "submit_button" %> 
 </div>-->
